html {
    font-size: 10px;   
}
body {
    margin: 0;
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.6rem;
}
.wrapper{
    width: 1020px;
}
.portfolio{
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    padding-top: 44px;
    padding-left: 40px;
    height: 820px;
}
.portfolio_name{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}
.portfolio_discription{
    font-size: 18px;
    line-height: 32px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin: 0;
}
.button{
    font-size: 12px;
    line-height: 17px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #666d89;    
    cursor: pointer;
    background-color: transparent;
    padding-left: 7px;
    padding-right: 6px;
    margin-right: 5px;
    word-spacing: -1px;
}
.button_active{
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
}
.pictures{
    padding-right: 20px;
    padding-bottom: 16px;
}
.portfolio_buttons{
    margin: 12px 0 12px 0;
    padding-left: 1px;
}
.portfolio_pictures{
    list-style: none;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    padding-left: 0px;
    padding-top: 3px;
}
.About-us{
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    padding-left: 39px;
    padding-top: 39px;
}
.people_image{
    list-style: none;
    width: 300px;
    padding-right: 20px;
}
.tittle{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    padding-bottom: 2px;
    padding-top: 4px;
    padding-left: 2px;
}

.about-us_discription{
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin: 0;
    word-spacing: 1.5px;
}
.about-us_people-list{
    display: flex;
    padding-left: 1px;
    padding-top: 29px;
    
}
.about-us_tittle{
    padding-bottom: 2px;
}
.people-name{
    font-size: 18px;
    line-height: 44px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
}
.people-discription{
    font-size: 12px;
    line-height: 19px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin: 0;
}
.people_foto{
    width: 300px;
    height: 300px;   
}
.links{
    margin-right: 1px;
}
.icon_links{
    margin-top: 24px;
    padding-bottom: 43px;
}